* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 125vh;
    margin-top: 120px;
    background-color: #fffaf4;
}


header {
    width: 100%;
    height: 120px;
    margin: auto;
    padding: 14px;
    position: fixed;
    background-color: #373239;
    align-items: center;
    top: 0;
}

header *{
    display: inline;
}

.logo-container img {
    height: 80px;
}

.icon-menu img{
    height: 40px;
    width: 40px;
    margin-left: 0px;
}


.nav-links {
    list-style-type: none; 
    text-align: right;
}

.nav-link {
    margin: 26px;
    float: right;
}



 a {
    font-size: 20px;
    text-decoration: none;
    padding: 18px;
    color: #ffffff;
    font-weight: 800;
    }

nav a:hover {
    color: #808080;
}

#banner{
    background-image: url("assets/img-banner.jpg");
    border-top: solid 10px;
    border-bottom: solid 10px;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
    height: 55%;
    margin-top: 10%;
    padding: 0 2%;
}



#logo-ball {
    flex-basis: 30%;
    margin-right: 5%;
}

#banner-text{
    font-family: 'Dancing Script', cursive;
    font-size: 8vw;
    /* margin-right: 50px; */
}

.titulo {
    font-family: 'Oleo Script', cursive;
    font-size: 5rem;
    text-align: center;
    /* margin-top: 10%; */
    margin-bottom: 100px;
}

#sobre-nos {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: 0 10%;
    margin-top: 200px;

}

#sobre-nos > img {
    flex-basis: 25vw;
    align-self: center;
    padding-bottom: 10vh;
}

#sobre-nos > span {
    font-size: 2rem;
    max-width: 700px;
}

hr {
    width: 30vw;
    color: #373239;
    margin:auto;
    margin-bottom: 100px;
    margin-top: 150px;
    
}

#sobre-fundadora {
    display: flex;
    flex-flow: row wrap;
    margin: 0 10vmax;
    justify-content: space-evenly;
    
}
#sobre-fundadora > img {
    border: solid 5px;
    height: 30vmax;
    align-self: center;
    box-shadow: 0 4px 6px 0 #373239;
}

#sobre-fundadora > span {
    width: 40vmax;
    font-size: 2em;
    max-width: 700px;
}

#missao-visao {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

#missao-visao > div {
    max-width: 40vw;
    font-size: 2em;
}

#valores {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

#valores span {
    display: flex;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
}

#lista-valores{
    max-width: 60%;
    justify-content: flex-start;
}

#lista-valores img{
    width: 8%;
    margin-right: 20px;
}

#lista-valores .titulo{
    margin-top: 0;
    text-align: left;
}

#em-casa {
    max-width: 40%;
}

#em-casa img{
    border: solid 5px;
    height: 25vmax;
    align-self: center;
    box-shadow: 0 4px 6px 0 #373239;
}

#clientes {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

.depoimento {
    font-size: 2em;
}

#clientes img {
    max-width: 25vw;
    border: solid 5px #373239;
    box-shadow: 0 4px 6px 0 #373239;
    margin-bottom: 15px;
}

#clientes div {
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
}


#clientes h6 {
    text-align: right;
    font-size: 1.2em;
    margin-top: 10px;
    font-weight: bold;
}

#contato {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

#email-contato {
    display: flex;
    flex-flow: column wrap;
    width: 600px;
}

#form-email > span {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#form-email input, textarea{
    border: solid 3px #e9b792;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 8px;
}

#form-email label {
    font-weight: bolder;
    margin-bottom: 5px;
}

#enviar{
    display: flex;
    justify-content: space-between;
}
#email-contato button {
    border: solid 2px #373239;
    border-radius: 5px;
    background-color: #e9b792;
    padding: 5px;
    font-size: 1.3rem;
    font-weight: bolder;
    width: 22%;
    /* TODO 2: ALINHAR O BOTÃO À DIREITA */
    box-shadow: 0 4px 4px 0 #373239;
}

#redes-sociais { 
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#botoes-rs {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.botao-social-media{
    background-color: #373239;
    max-width: 40%;
    max-height: 40%;
    border-radius: 10px;
    text-align: center;
}

#redes-sociais img {
    width: 5vw;
    padding-bottom: 10px;
}

#contato .titulo {
    font-size: 3rem;
}

#contato h4 {
    color: #808080;
}


#divisor {
    margin-bottom: 0;
    width: 70%;
}

.linha-vertical {
    height: 500px;
    width: 10px;
    border-left: solid 2px #373239;
    margin: 0;
    align-self: baseline;
}

#valores .linha-vertical{
    align-self: center;
}

@media(max-width: 1200px) {
    #banner {
        margin-top: 25vh;
    }

    #sobre-fundadora {
        flex-direction: column;
        margin: 0 10%;

    }

    #sobre-fundadora span {
        margin-top: 10%;
        align-self: center;
        width: 100%;
    }

    #missao-visao {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 10%;
    }

    #missao-visao > div {
        max-width: 800px;
    }

    #visao {
        margin-top: 100px;
    }

    #valores {
        flex-direction: column;
        align-items: center;
    }

    #valores .titulo {
        text-align: center;
    }

    #lista-valores {
        max-width: 80%;
        margin-bottom: 10%;
    }

    #em-casa{
        align-self: center;
    }

    #contato {
        flex-direction: column-reverse;
    }

    #email-contato{
        width: 80%;
    }

    #email-contato .titulo {
        margin-top: 20%;
    }

    .linha-vertical {
        display: none;
    }
}


/* Serviços */

.servicos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.coluna img {
    margin-top: 8px;
    margin: 18px;
    vertical-align: middle;
    width: 400px;
    border: solid 5px;
}


.coluna span{
    width: 40vmax;
    font-size: 2.5em;
    margin: 120px;
    font-family: 'Oleo Script', cursive;
}

/* Trabalhos */

.trabalhos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.trabalhos img {
    margin-top: 8px;
    margin: 8px;
    vertical-align: middle;
    width: 450px;
    border: solid 5px;
}

/*Chamada para contato */

.contatos-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 50px;
    align-items: center;
}


.instagram-contatos h3{
    font-size: 30px;
    font-family: 'Oleo Script', cursive;
}

.zap-contatos h3{
    font-size: 30px;
    font-family: 'Oleo Script', cursive;
}


.instagram-contatos #insta{
    display: block;
    width: 160px;
    height: 40px;
    padding: 10px 5px;
    margin: 20px;
    background-color: #373239;
    color: #FFF;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.zap-contatos #zap {
    display: block;
    width: 160px;
    height: 40px;
    padding: 10px 5px;
    margin: 20px;
    background-color: #E9B792;
    color: #000;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}




/* Footer */
.footer {
    background: #E9B792;
    height: 230px;
}

.footer .footer-content {
    display: flex;
    height: 250px;
}

.footer .footer-content .footer-section {
    flex: 1;
    padding: 25px;
}


.footer-bottom{
    height: 30px;
    background: #ffffff;
    margin-top: 5px;
}

.footer-bottom h4 {
    text-align: center;
}

.footer-section h2{
    font-weight: 800;
}